<div class="row">
    <div class="col-md-3">
        <div class="card p-3">
            <h6>Total CVs</h6>
            <h2>856</h2>
            <span class="text-success">🔼 10.0%</span>
        </div>
    </div>
    <div class="col-md-3">
        <div class="card p-3">
            <h6>Total CV in today</h6>
            <h2>856</h2>
            <span class="text-success">🔼 10.0%</span>
        </div>
    </div>
    <div class="col-md-3">
        <div class="card p-3">
            <h6>Number of CVs processed today</h6>
            <h2>77</h2>
            <span class="text-success">🔼 12.0%</span>
        </div>
    </div>
    <div class="col-md-3">
        <div class="card p-3">
            <h6>JD active</h6>
            <h2>17</h2>
            <span class="text-danger">🔽 7.6%</span>
        </div>
    </div>
</div>
